# cache files
__pycache__/
*.pyc

# jupyter noteboooks
*.ipynb
.ipynb_checkpoints/

# file system related
.DS_Store
._.DS_Store

# IDE related
.idea/
.spyproject/

# log files
log_files/
*.txt

# trained models
models/
